:root {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Oxygen, Ubuntu, Cantarell,
  open sans, helvetica neue, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: #213547;
  --background-color: #f8f8f8;
  --background-color-darker: #ededed;
  --primary: #9D00FF;
  --primary-hover: #B069DB;
  --primary-background: rgba(157, 0, 255, 0.5);
  --primary-border: ;
  --primary-text: #FFFFFF;


  --energy: rgba(255, 215, 0, 0.75);
  --fridge: rgba(0, 191, 255, 0.75);
  --light: rgba(255, 255, 51, 0.75);
  --motion: rgba(255, 105, 180, 0.74);
  --smoke: rgba(169, 169, 169, 0.75);
  --temperature: rgba(255, 69, 0, 0.75);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 4rem;
  margin: 0;
  min-width: 320px;
  min-height: calc(100vh - 4rem);
  color: var(--color);
  background-color: var(--background-color);
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.25s;
  background-color: var(--primary);
  color: var(--primary-text);
}
button:hover {
  background-color: var(--primary-hover);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}
